.halfCol{
	float:left;
	display: inline;
	width:50%;
}

.columnContainer{
	display: inline-block;
	width:100%;
}

.centeredThird{
	width:33%;
	margin:0 auto;
}

.sectionName{
	/*Design*/
	font-size:7.5vmin;
	font-family: 'Century Gothic',sans-serif;
	background: rgba(0,0,0,0.2);
	/*Layout*/
	margin:0 auto 0 auto;
	display:block;
}

.heading{
	/*Design*/
	font-size:5vmin;
	display: block;
	/*Layout*/
	max-width:60%;
	margin:auto;
}

.detailText{
	/*Design*/
	font-size:2vmin;
	background: rgba(0,0,0,0.2);
	/*Layout*/
	margin:0 auto 0 auto;
	display:block;
}

.subheading{
	/*Design*/
	font-size:2.5vmin;
	text-align: center;
	/*Layout*/
	margin:0 auto;
	max-width:100%;
}

.left{
	text-align: left;
	margin:1vmin 20vmin;
}

.noMargin{
	margin:1vmin 0;
}


.bioText{
	max-width:66%;
	text-align: left;
}

.skillsTableIcon{
	width:15vmin;
}

.sectionContainer{
	border-bottom:2vmin double #476789;
}

.gatorPic{
	height:20vmin;
	margin:2vmin auto;
	display: block;
}

.mePic{
	/*Design*/
	border:0.5vmin double #476789;
	border-radius:25vmin; 
	/*Layout*/
	height:30vmin;
	margin:2vmin auto;
	display: block;
}

.dasPic{
	height:20vmin;
	margin:0 20vmin;
	display: block;
}
