img:hover{
	cursor: pointer;
}

.tableElementClicked{
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
}

.projectImage:hover{
	filter:grayscale(0%) drop-shadow(0 0 2vmin #111111);;
	cursor:pointer;
}

.halfCol{
	float:left;
	display: inline;
	width:50%;
}

.sectionName{
	/*Design*/
	font-size:7.5vmin;
	font-family: "Century Gothic","Trebuchet MS", Helvetica, sans-serif;
	background: rgba(0,0,0,0.2);
	/*Layout*/
	margin:0 auto;
	display:block;
}

.heading{
	/*Design*/
	font-size:5vmin;

	/*Layout*/
	margin:1vmin auto;
	width:100%;
}

.subheading{
	/*Design*/
	font-size:2.5vmin;
	text-align: center;
	/*Layout*/
	margin:2vmin auto;
	max-width: 50%;
}

li.subheading{
 margin:0 auto;
}

.detailText{
	/*Design*/
	font-size:2vmin;
	/*Layout*/
	margin:0 auto 0 auto;
	display:block;
}

.projectImage{
	/*Design*/
	filter:grayscale(90%);
	transition: 0.25s filter linear, 0.25s width linear, 0.25s height linear;

	/*Layout*/
	width:30vmin;
	margin:1vmin;
}

.sketch{
	/*Design*/
	width:60vmin;
	height:33.75vmin;
	border:0.5vmin double #476789;
	/*Layout*/
	margin:2vmin auto;
	display: block;
}

.fixedSketch{
	/*Layout*/
	border:0.5vmin double #476789;
	margin:2vmin auto;
	display: block;

}

.tileSliderImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin:1vmin auto 0 auto;
	height:40vmin;
}

.tileSliderImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	height: 80vmin;
}

.particleImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin:0 auto 0 auto;
	width:30vmin;
}

.particleImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:70vmin;
}

.animationVideo{
	/*Design*/
	/*Layout*/
	display:block;
	margin:2vmin auto;
	width:72vmin;
	height:40.5vmin;
}

.handImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin: 0 auto;
	width:30vmin;
}

.handImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:60vmin;
}

.roomImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin: 0 auto;
	width:30vmin;
}

.roomImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:90vw;
}

.tropicalImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin:0 auto;
	width:30vmin;
}

.tropicalImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:90vw;
}

.boatImage{
	/*Design*/
	border:0.5vmin double #476789;
	/*Layout*/
	display: block;
	margin:0 auto;
	width:45vmin;
}

.boatImageExpanded{
	top:50%;
	left:50%;
	position: absolute;
	transform: translate(-50%,-50%);
	width:90vw;
}

